* {
    margin:0;
    padding:0;
}

body {
    padding:0px;
    margin:0px;
    min-width: 1200px;
    width:100%;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    background-color: #cccccc;
}

.main {
    width: 100%;
    height: auto;
}

.header {
    width: 100%;
    height: 80px;
    background-color:#4b4a45;
}

.menu {
    display: inline-block;
    width: 170px;
    height: 100%;
    background-color:#eedfac;
    text-align: center;
}

div.menu img {
    width: 32px;
    padding-top:3%;  
}

div.menu p {
    margin:0px;
    padding-top:3%;
}

.submenu {
    width: 100%;
    height: 30px;
    background-color:#eedfac;
}

.bodycontent {
    display:block;
    width: 100%;
    height: auto;
    background-color:#ffffff;
    position:relative;
}


.maincontent {
    padding-top: 20px;
    margin-left: auto;
    background-color:#ffffff;
    width: 80%;
    min-height: 500px;
}

.maincontent img {
    width: 18px;
    margin-left: 40%;
}

.showTable  {
    border: 1px solid #dad7c5;
    border-collapse: collapse;
    position:relative;
    left:3%;
    padding-bottom: 20px;
}

.showTable  th, td {
    width: 250px;
    padding-left:20px;
}

.showTable tr:nth-child(2n) {
    background-color: #fcf8ec;
    }

.showTable  th {
    font-weight: normal;
    font-size: 105%;
    border: hidden;
    border-bottom: 1px solid #dad7c5;
    padding-top:10px;
    font-style: italic;
    text-align:left;
    padding-left:10px;
}

.filter {
    padding-top: 20px;
    position: relative;
    float: left;
    width: 20%;
    height: auto;
    min-width: 200px;
    min-height: 500px;
    background-color:#858378;
}

div.filter > p {
    padding-left: 27px;
    padding-top: 5px;
}

.sort {
    padding-left: 10px;
}


.footer {
    clear: left;
    background-color:#dad7c5;
    width: 100%;
    height: 50px;
}

.warning {
    padding: 20px 0 20px 30px;
    color: #cc3333;
    font-style: italic;
}

.off {
    display: none;
}
